@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #171c1c;
    --text-dark: #f6f8f8;
    --background: #f6f8f8;
    --primary: #35504c;
    --secondary: #96c0bc;
    --accent: #4e8d87;
  }
  .dark {
    --text: #e4e9e9;
    --text-dark: #171c1c;
    --background: #060808;
    --primary: #afcac7;
    --secondary: #3f6965;
    --accent: #70b1ab;
  }
}
